<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.genuitec.eclipse.modernweb.angular2.core.angularCliProjectServerLaunch">
<booleanAttribute key="ng-lr-enabled" value="true"/>
<stringAttribute key="ng-port" value="4200"/>
<stringAttribute key="server-type" value="NODEJS"/>
</launchConfiguration>
